<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PHP Laravel" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\laragon\bin\php\php-7.2.11-Win32-VC15-x64\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
